.container{
    position: relative;
    float: left;
}
/* .container1{
    position: relative;
    float: left;
}
.container2{
    position: relative;
    float: left;
}
.container3{
    position: relative;
    float: left;
}
.container4{
    position: relative;
    float: left;
} */